<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content has-bouncing="false">
    <div class="row form-row">
      <div class="col">
        <div class="logo-container">
           <img class="logo-image" ng-src="./img/feed/BeerRoute_Logo3.png"/>
        </div>
        <!--a class="button button-block facebook-button" ng-click="doFacebookSignUp()">Sign up with Facebook</a-->
        <span class="form-divider"></span>
        <form name="signup_form" class="form-container" novalidate>
          <div class="input-list list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="businessname" name="bussname" ng-model="bus.businessname" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="description" name="description" ng-model="bus.description" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="address" name="address" ng-model="bus.address" required>
            </label>
             <label class="item item-input-user">
              <input type="radio" id="r1" name="business.region" ng-model="bus.region" value="false"/>
                <label for="r1">oeste</label>

              <input type="radio" id="r2" name="business.region" ng-model="bus.region" value="true"/>
                <label for="r2">metro</label>
            </label>

                <label class="item item-input" >
              <input type="text" placeholder="credit card" name="creditcard" ng-model="bus.creditcard" required>
            </label>


            <label class="item item-input" >
              <input type="text" placeholder="expiration date" name="expdate" ng-model="bus.ccexp" required>
            </label>
          </div>
          <p ng-show="error" class="message error">{{error}}</p>
          <button type="submit" class="button button-block auth-action-button" ng-click="busInfo()" ng-disabled="signup_form.$invalid">
            Save Info
          </button>
        </form>
        <!--div class="alternative-actions">
          <a class="action-link button button-small button-clear" ng-click="showTerms()">Terms</a>
          <a class="action-link button button-small button-clear" ng-click="showPrivacyPolicy()">Privacy policy</a>
        </div-->
      </div>
    </div>
  </ion-content>
</ion-view>
