<div class="row review-text-box-row"> 
<!-- 	<textarea
		id = "myTextArea"
        rows = "10"
        cols = "80">Your review here
	</textarea>	 -->
    <p>Thank you for joining Beer Route. An email was sent to your email to complete your registration.</p>
</div>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"></link>

<div class="row done-review-row">
    	<div class="col">
        <button class="button button-block button-done-button" ng-click="Closecomplete()">
    	   Close
    	</button>
    	</div>
</div>