
<!--BEER CONTENT-->

<ion-view class="food-content-view" cache-view="false">
  <ion-header-bar class="food-content-header">
    <div class="buttons">
      <button class="button button-clear back-button" ng-click="goBack()">Back</button>

    </div>
    <h1 class="title">{{product.beername}}</h1>
    <div class="buttons">
      <!--button class="button button-clear share-button">Share</button-->
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-slide-box class="product-images-slider" show-pager="false">
      <ion-slide>
        <div class="image-container" multi-bg="[product.path]">
          <div class="product-illustration-container">
            <!--img class="product-illustration" ng-src="[product.pictures[0]]"-->
          </div>
        </div>
      </ion-slide>
      <ion-slide ng-repeat="product_image in product.pictures.slice(1) track by $index">
        <!--div class="image-container" multi-bg="[product.pictures[0]]"></div-->
      </ion-slide>
    </ion-slide-box>
    <div class="row brief-info-row">
      <div class="col col-80">
        <h3 class="product-name">{{product.beername}}</h3>
        <h5 class="product-style">{{product.beerstyle}}</h5>
      </div>
      <div class="col col-20">
        <!--span class="product-price-range" ng-repeat="price in [].constructor(product.price_range) track by $index">$</span-->
        <a href="#" onclick="wishBeer(product.beerid);">
          <img src="./img/BeerIcons/black-beer-icon.png" ng-click="wishBeer(product.beerid)" width="46" height="48" border="0"/></a>
          <div></div>
          Wish Beer
         <!--button class="button button-clear back-button" ng-click="wishBeer(product.beerid)">WishBeer</button-->
      </div>
    </div>
    <!--div class="row rating-row">
      <div class="col rating-col">
        <span class="product-rating rating-{{ product.rating | floor }}">{{product.rating}}</span>
      </div>
      <div class="col rating-col">
        <i class="icon ion-ios-star-outline"></i>
        <span class="other-rating">3</span>
      </div>
      <div class="col rating-col">
        <i class="icon ion-ios-star-outline"></i>
        <span class="other-rating">1</span>
      </div>
      <div class="col rating-col">
        <i class="icon ion-ios-star-outline"></i>
        <span class="other-rating">2</span>
      </div>
      <div class="col rating-col">
        <i class="icon ion-ios-star-outline"></i>
        <span class="other-rating">8</span>
      </div>
    </div-->
    <div class="row schedules-and-address-row">
      <div class="col">
      <div class="row middle-row">
          <div class="col">
            <p class="review-description">
             {{product.description}}
            </p>
          </div>
        </div>
        <hr class="buttons-divider"/>
        <button class="button button-block icon-right ion-chevron-right addresses-button" ng-class="{'with-value': product.address}" ng-click="openAddresses()">
          <span class="button-title">Locations</span>
          <span class="button-data" ng-if="product.selected_address">{{product.selected_address.street}}</span>
        </button>
      </div>
    </div>
    <hr class="product-sections-divider"/>
    
    <div class="row address-map-row">
      <div class="col">
        <div class="map-wrapper" data-tap-disabled="true">
          <map center="{{product.selected_address.lat}},{{product.selected_address.lng}}" zoom="15" map-type-control="false" street-view-control="false" zoom-control="true" zoom-control-options="{style:'SMALL'}">
            <marker position="{{product.selected_address.lat}},{{product.selected_address.lng}}" title="{{ product.selected_address.street }}" visible="true"></marker>
          </map>
        </div>
      </div>
    </div>
    <div class="row tags-row">
      <div class="col product-tags-container">
        <span class="product-tag" ng-repeat="tag in product.tags">{{tag}}</span>
      </div>
    </div>
    <hr class="product-sections-divider"/>
    <h3 class="product-sub-title">Reviews</h3>
    <article class="row review-item" ng-repeat="related_product in product.related_products">
      <div class="col">
        <div class="row top-row">
          <div class="col image-col">
            <pre-img ratio="_1_1">
              <img class="review-image" ng-src="{{related_product.picture}}" spinner-on-load>
            </pre-img>
          </div>
          <div class="col description-col">
            <h3 class="review-author-name">{{related_product.username}}</h3>
            <div class="row icons-container">
              <!--div class="col icon-group">
                <i class="icon ion-navicon"></i>
                <span class="icon-text">2 Reviews</span>
              </div-->
              <!--div class="col icon-group">
                <i class="icon ion-ionic"></i>
                <span class="icon-text">26 Points</span>
              </div-->
            </div>
          </div>
          <div class="col reputation-col">
            <span class="review-date">{{related_product.rdate | amDateFormat:'MMM Do, YYYY'}}</span>
            <div class="rating-outer">
              <span class="review-rating rating-{{ related_product.rating | floor }}">{{related_product.rating}}</span>
            </div>
          </div>
        </div>
        <div class="row middle-row">
          <div class="col">
            <p class="review-description">
              {{related_product.comment}}
            </p>
          </div>
        </div>
        <!--div class="row bottom-row">
          <div class="col review-other-ratings-container">
            <div class="row">
              <div class="col rating-col">
                <i class="icon ion-ios-star-outline"></i>
                <span class="other-rating">4.2</span>
              </div>
              <div class="col rating-col">
                <i class="icon ion-ios-star-outline"></i>
                <span class="other-rating">4.4</span>
              </div>
              <div class="col rating-col">
                <i class="icon ion-ios-star-outline"></i>
                <span class="other-rating">3.8</span>
              </div>
            </div>
          </div>
        </div-->
      </div>
    </article>
    <!--div class="row all-reviews-row">
      <div class="col">
        <button class="button button-block icon-right ion-chevron-right read-all-reviews-button" ng-click="showAllReviews()">
          Read all the reviews (15)
        </button>
      </div>
    </div-->
    <hr class="product-sections-divider"/>
    <div class="row write-review-row" ng-hide="isBarOwner()">
      <div class="col">
        <button class="button button-block new-review-button" ng-click="newBeerReview()">
          Write a review
        </button>
      </div>
    </div>

    <h5 class="incorrect-info-title">Is the bar information incorrect?</h5>
    <span class="incorrect-info-sub-title">Let us know what's wrong!</span>
  </ion-content>
</ion-view>
