<ion-view class="feed-deals-view feed-sub-view" cache-view="false">
  <ion-content>
    <!--section ng-include="'views/common/sort-and-filters-bar.html'"></section-->
    <div class="products-row">
      <div class="card deals-product-container" ng-repeat="product in results = products">
        <div class="row row-center top-row">
          <div class="col col-66 logo-col">
            <img class="deal-logo" ng-src="{{product.path}}" ui-sref="main.app.search.content({productId: product.businessid})"/>
             <a class="product-anchor" ui-sref="main.app.search.content({productId: product.businessid})">{{product.businessname}}</a>
          </div>
          <!--div class="col shop-col">
            <button class="button shop-button">
              CLAIM
            </button>
          </div-->
        </div>
        <div class="row middle-row">
            <p class="product-description">
              {{product.description}}
            </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
