<ion-view class="search-view" cache-view="false">
  <ion-header-bar class="search-header">
    <div class="row item-input-inset search-row">
      <div class="col col-75">
        <label class="item-input-wrapper search-label">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" name="search_query" ng-model="search.query">
        </label>
      </div>
      <div class="col">
        <button class="button button-clear cancel-button" ng-click="cancelSearch()">
          Cancel
        </button>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    
    <div>
      <section ng-include="'views/common/sort-and-filters-bar.html'"></section>
      <div class="search-results-container">
        <div class="products-row">
          <div class="food-product-container" ng-repeat="product in results = (products | searchField : 'product.beername' | filter:search.query)">
            <div class="row info-row">
              <div class="col logo-col">
                <a class="product-anchor">
                <a class="product-anchor" ui-sref="main.app.searchBeer.contentB({productId: product.beerid})">
                  <pre-img ratio="_1_1">
                    <img class="logo-image" ng-src="{{ product.path }}" spinner-on-load>
                  </pre-img>
                </a>
              </div>
              <div class="col description-col">
                <div class="row">
                  <div class="col data-col">
                    <h5 class="product-title">

                      <a class="product-anchor" ui-sref="main.app.searchBeer.contentB({productId: product.beerid})">{{product.beername}}</a>
                    </h5>
                    
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
