<ion-scroll direction="y" ng-controller="FiltersCtrl">
  <div class="card list filter-group">
    <!--div class="item item-divider">
      Category
    </div-->
    <!--ion-list class="category-filters filter-options-container">
      <ion-radio name="category_filter" ng-model="category_filter" ng-value="'Fashion'">
        <img class="category-icon fashion-icon" ng-src="./img/filters/category-filters_Fashion.png"/>
        <span>Fashion</span>
      </ion-radio>
      <ion-radio name="category_filter" ng-model="category_filter" ng-value="'RealState'">
        <img class="category-icon real-state-icon" ng-src="./img/filters/category-filters_RealState.png"/>
        <span>Real State</span>
      </ion-radio>
      <ion-radio name="category_filter" ng-model="category_filter" ng-value="'Travel'">
        <img class="category-icon travel-icon" ng-src="./img/filters/category-filters_Travel.png"/>
        <span>Travel</span>
      </ion-radio>
      <ion-radio name="category_filter" ng-model="category_filter" ng-value="'Food'">
        <img class="category-icon food-icon" ng-src="./img/filters/category-filters_Food.png"/>
        <span>Food</span>
      </ion-radio>
      <ion-radio name="category_filter" ng-model="category_filter" ng-value="'Deals'">
        <img class="category-icon deals-icon" ng-src="./img/filters/category-filters_Deals.png"/>
        <span>Deals</span>
      </ion-radio>
    </ion-list>
  </div-->

  <div class="card list filter-group">
    <div class="item item-divider">
      Tags
    </div>
    <ion-list class="tags-filters filter-options-container">
      <tag-checkbox ng-model="tags_filter.IPA" title="IPA"></tag-checkbox>
      <tag-checkbox ng-model="tags_filter.Stout" title="Stout"></tag-checkbox>
      <tag-checkbox ng-model="tags_filter.Lager" title="Lager"></tag-checkbox>
      <tag-checkbox ng-model="tags_filter.Belgian" title="Belgian"></tag-checkbox>
      <tag-checkbox ng-model="tags_filter.Pale_Ale" title="Pale Ale"></tag-checkbox>
      <tag-checkbox ng-model="tags_filter.Amber_Ale" title="Amber Ale"></tag-checkbox>
      <tag-checkbox ng-model="tags_filter.Porter" title="Porter"></tag-checkbox>
      <tag-checkbox ng-model="tags_filter.Pilsner" title="Pilsner"></tag-checkbox>
    </ion-list>
  </div>
  
</ion-scroll>
