<ion-view class="editprofile-view edit-view" cache-view="false">
  <ion-header-bar align-title="left" class="bar-positive">
  <button class="button back-button" ui-sref="main.app.account.profile">Back
    </button>
  </ion-header-bar>
  <ion-content>
  <h3 class="edit-descr">Edit Description</h3>
  	<textarea id="new_description" class="input-box">{{data.bus_description}}
  	</textarea>
  	<h6></h6>
        <h5> </h5>
  <form>
  	<h3 class="edit-descr" type="text">Edit Address</h3> 
    <input class="addressbar" type="text" name="text" id="new_address" placeholder="{{data.selected_address}}"/>
    <h5></h5>
    <div class="button save-button" ng-click="editInfo()">Save Changes
    </div>
  	</form>
  	    <h5> </h5>
  <form>
  	<h3 class="edit-descr" type="text">Upload profile picture:</h3> 
    <input class="filebutton" type="file" name="file" />
    <div class="button addpic-button">Upload
    </div>
  	</form>
  </ion-content>
</ion-view>