.signup-view
{
	.logo-container
	{
		
		width: 85% auto;
		margin-top:30px;
		.logo-image
		{
			width: 100%;
			vertical-align: middle;
		}
	}
	.form-divider
	{
		margin: 7vh 0px;
	}

	.auth-action-button
	{
		margin-top: 15vh;
	}

	.alternative-actions
	{
		margin-top: 1vh;
	}
}
